*.lol
*.nlo
*.nls
*.aux
*.log
*.nav
*.out
*.snm
*.toc
tmp/
*.synctex
*.gz
*.bak
*.bbl
*.blg
*.ilg
*.upa
*.upb
.settings/
*.db
*.bcf
*.vrb
main.pdf
*.run.xml
*.upa
*.gz
*.bib
*.bbl
*.blg
*.~*
*.synctex(busy)
/*.html
